* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

#section1 {
    background-color: #efd592;
}

#section2 {
    background-color: #4343f9;
}

button {
    font-family: 'Poppins', sans-serif;
}

#btn-round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background-color: #242d38;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #efd592;
    font-weight: 300;
}

#btn-yellow {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 60px;
    border: 6px solid #242d38;
    background-color: transparent;
    font-size: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: #242d38;
    font-weight: 700;
}

#btn-blue {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    border: none;
    background-color: #4343f9;
    font-size: 21px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
}